<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menù Lateral con Css</title>

</head>
<body>
<header class="header">
  <div class="container">
    <div class="btn-menu">
      <label for="btn-menu">☰</label>
    </div>
    <div class="logo">
      <h1></h1>
    </div>
    <nav class="menu">
      <a href="#"></a>

      <a href="#"></a>
      <a href="#"routerLink = "/">Salir✖</a>
    </nav>
  </div>
</header>
<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
  <div class="cont-menu">
    <nav>

      <a routerLink = "/admin" >Inicio</a>
      <a routerLink = "/admin/actividades/programas" >Programas</a>
      <a routerLink = "/admin/actividades/talleres">Talleres</a>
      <a  routerLink = "/admin/actividades/materiales">Materiales</a>
      <a routerLink = "/admin/actividades/personas">Personas</a>
      <a routerLink = "/admin/actividades/encuestas" >Encuestas</a>
    </nav>
    <label for="btn-menu">✖</label>
  </div>
</div>
</body>
</html>
